@CHARSET "UTF-8";


.tb {width:100px; margin:5px 0px 0 0; float:left; cursor:pointer}

/* 设置业务按钮的样式 */
	/* 可用状态 */
.tb .imgStyle {height:30px; background:url(images/tb_edit_enabled.gif) no-repeat center;}

.tb .textStyle {line-height:21px; font-size:12px; color:#c00; text-align:center; letter-spacing:0.1em;}
