/*选择框箭头按钮样式,注意在firefox上,height=20,top=0*/
.swordform_field_wrap .swordselect-selimg {
    width: 17px;
    height:19px;
	_height:17px;
    border: 0;
    background:url(images/trigger.gif) no-repeat;
    cursor: pointer;
}
.swordform_field_wrap .swordselect-selimg-disable {
    width: 17px;
    height:19px;
	_height:17px;
    border: 0;
    background: transparent url(images/trigger.gif) no-repeat -68px 0;
    cursor: default;
}
.select_input_disable{
	background:#f1f1f1;
}

/*选择框箭头按钮，鼠标经过时样式*/
.swordform_field_wrap .swordselect-selimg-over {
    background-position: -17px 0;
}

/*选择框箭头按钮，鼠标点击时样式*/
.swordform_field_wrap .swordselect-selimg-click {
    background-position: -34px 0;
}

/*下拉选择框最外层样式*/
.swordselect-list {
    border: 1px solid #98c0f4;
    background: #ddecfe;
    zoom: 1;
    overflow: hidden;
    Z-INDEX: 11000;
    WIDTH: 160px;
    POSITION: absolute;
    left: 30px;
    display: none
}

/*下拉选择框list外层样式*/
.swordselect-list-inner {
    overflow: auto;
    background: white;
    position: relative;
    zoom: 1;
}

/*下拉选择框item样式*/
.swordselect-list-item {
    font: normal 12px tahoma, arial, helvetica, sans-serif;
    padding: 2px;
    border: 1px solid #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: left
}

/*下拉选择框item被选中样式*/
.swordselect-list .swordselect-selected {
    /*border: 1px dotted #a3bae9 !important;*/
    border:1px solid #336699;
    background-color:#C3DAF9 !important;
    /*background: #DFE8F6;*/
    cursor: pointer;
}
.swordselect-list .swordselect-selected-fix {
    /*border: 1px dotted #a3bae9 !important;*/
    border:1px solid #336699;
    background-color:#C3DAF9 !important;
    /*background: #DFE8F6;*/
    cursor: pointer;
}
.swordselect-list .swordselect-selected-none{
    display:none;
}
/**下拉框分页箭头**/
.swordselect_csl_pre {
    background: url("images/next.gif") no-repeat;
    width: 20px;
    height: 15px;
    float: left;
    cursor: pointer;
}

.swordselect_csl_next {
    background: url("images/pre.gif") no-repeat;
    width: 20px;
    height: 15px;
    float: right;
    cursor: pointer;
}

.swordselect_csl_hidden {
    visibility: hidden
}