
.msg {
	background: #fff url(images/icons.gif) no-repeat -25px -75px;
	font: normal 12px Verdana;
	border: 1px solid #fff;
	display: inline;
	margin-left: 5px;
	padding: 2px 2px 2px 18px;
	vertical-align : -1px;
	*vertical-align : 5px;
	_vertical-align : 3px;
}
.success {
	background-position: 1px -57px;
	background-color: #E6FFE6;
	border-color: #00BE00;
}

.error {
	background-position: 1px -18px;
	background-color: #FFF2E9;
	border-color: #FF6600;
}
.invalid{background:#fff  repeat-x bottom;}