.gototop {
    display: none;
    position: fixed;
    right: 5px;
    bottom: 5px;
    color: green;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid green;
    background: Lightgreen;
    padding: 10px;
    text-decoration: underline;

}
