@charset "utf-8";



body.logon {
	background: #fff;
	font-family: Verdana, Geneva, sans-serif;
	color: #555;
	font-size: 12px;
	letter-spacing: 0.1em;
	line-height: 150%;
}

img {
	border: 0;
}



.bg {
    width: 100%;
	border-collapse: collapse;
	height: 100%;
	background: #ecf5f7 url(images/login_bg.jpg) no-repeat top left
}

.bg td {
	text-align: center;
}

.login {
	width: 459px;
	height: 299px;
	text-align: left;
	background: url(images/login_lg.jpg);
	margin: 0 auto;
}

.login .dlk {
	width: auto;
	font-size: 12px;
	font-family: '新宋体';
	color: #849fae;
	margin: 40px 0 0 80px;
}
.login .dlk1 {
	width: auto;
	font-size: 12px;
	font-family: '新宋体';
	color: #849fae;
	margin: 20px 0 0 10px;
}
.login .dlk td {
	padding: 3px;
}

.login .dlk input {

	border: #a0b2c4 1px solid;
	width: 210px;
	font-size: 12px;
	background: #edf3fa;
}

.login .dlk .denglu {
	background: url(images/register.gif);
	border: none;
	width: 75px;
	height: 21px;
	cursor: pointer;
	margin-top: 15px;
}

.login .dlk .denglu_a {
	background: url(images/register_on.gif);
	border: none;
	width: 75px;
	height: 21px;
	cursor: pointer;
	margin-top: 15px;
}

.text1 {
	font-size: 12px;
	color: #666;
	width: 1001px;
	height: 94px;
	padding: 5px;
	margin: 0 auto;
	background: url("images/login_12.jpg") no-repeat left top;

}
.text1 .version{
    margin-top:12px;
}
 .login_logo {
	font-family : "方正粗倩简体";
	color: #FFFFFF;
	font-size : 24px;
	height : 20px;
    font-weight: bold;
    letter-spacing: 6px;
    filter:Dropshadow(offx=1, offy=0, color=#1d5c8d) Dropshadow(offx=0, offy=1,  color=#1d5c8d) Dropshadow(offx=-1, offy=0, color=#1d5c8d) Dropshadow(offx=0, offy=-1,  color=#1d5c8d);
     margin: 0px 0 0 80px;
}

.login_sword {
	width:106px;
	height : 49px;
    padding: 5px;

}