/*container*/
#ym-window {
    overflow: hidden;
    font-size: 12px;
    font-family: '宋体'; /*filter:progid:DXImageTransform.Microsoft.Shadow(Color=#ff666666, Strength=5, Direction=135);*/
}

.ym-tl {
    padding-left: 9px;
    background:  url(images/title_bg_left.gif) no-repeat 0 0
}

.ym-tr {
    padding-right: 9px;
    background:  url(images/title_bg_right.gif) no-repeat right 0;
}

.ym-tc {
    background:  url(images/title_bg_center.gif) repeat-x 0 0;
    overflow: hidden;
    height: 26px;
    line-height: 26px;
}
.ym-body iframe{ margin-bottom:-3px;}
.ym-ttc {
    height: 3px
}

.ym-header-text {
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
    float: left
}

.ym-header-tools {
    float: right;
    margin-top: 3px
}

.ym-header-tools strong {
    display: none
}

/*body*/
.ym-ml {
    background:#ffffff url(images/win_l.gif) repeat-y 0 0;
    padding-left: 5px;
}

.ym-mr {
    background: url(images/win_r.gif) repeat-y right 0;
    padding-right: 5px;
}

.ym-mc {
    padding: 0;
    /*background: #CCD9E9*/
}

.ym-body {
    overflow: auto;
    padding: 0;
    font-size: 12px;
}

/*button*/
.ym-btn {
    text-align: right;
    padding-right: 6px;
}

/*footer*/
.ym-bl {
    background: url(images/win_lb.gif) no-repeat 0 bottom;
    padding-left: 9px
}

.ym-br {
    background: url(images/win_rb.gif) no-repeat right bottom;
    padding-right: 9px
}

.ym-bc {
    background: url(images/win_b.gif) repeat-x 0 bottom;
    height: 15px;
    font-size: 3px
}

.ymPrompt_alert {
    padding-left: 90px;
    background: url(images/info.gif) no-repeat 20px 50%
}

.ymPrompt_succeed {
    padding-left: 90px;
    background: url(images/right.gif) no-repeat 20px 50%
}

.ymPrompt_error {
    padding-left: 90px;
    overflow-x: hidden;
    background: url(images/err.png) no-repeat;
    word-break: break-all;
}

.ymPrompt_confirm {
    padding-left: 90px;
    background: url(images/ask.gif) no-repeat 20px 50%
}

.ym-header-tools div {
    cursor: pointer;
    width: 25px;
    height: 18px !important;
    height: 21px;
    float: left;
    margin: 2px 0px !important;
    margin: -0px 0px;

}

.ymPrompt_close {
    background: url(images/ico_close.gif) no-repeat;
    width: 18px !important;
}

.ymPrompt_max {
    background: url(images/icon_expand.gif) no-repeat;
    width: 18px !important;
}

.ymPrompt_min {
    background: url(images/icon_collapse.gif) no-repeat;
    width: 18px !important;
}

.ymPrompt_normal {
    background: url(images/icon_normal.gif) no-repeat;
    width: 18px !important;
}

.ymPrompt_alert .ym-content, .ymPrompt_succeed .ym-content, .ymPrompt_error .ym-content, .ymPrompt_confirm .ym-content {
    padding: 45px 0
}

/*取消确认按钮样式*/
input.btnStyle {
    background: url(images/btn_bg2.gif) no-repeat;
    width: 65px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #DA5200;
    border: 0;
    margin: 10px 4px
}