@charset "utf-8";

.frame_head {
	background: url(images/login_bg.jpg) no-repeat top left;
	height:83px
}
.frame_head_logo {
    float:left;
    width:106px;
	height : 49px;
    margin:7px 10px 0px 20px;
 
}
 .frame_head_text {
     float:left;
	font-family : "方正粗倩简体";
	color: #FFFFFF;
	font-size : 29px;
	height : 20px;
    font-weight: bold;
    letter-spacing: 6px;
    filter:Dropshadow(offx=1, offy=0, color=#1d5c8d) Dropshadow(offx=0, offy=1,  color=#1d5c8d) Dropshadow(offx=-1, offy=0, color=#1d5c8d) Dropshadow(offx=0, offy=-1,  color=#1d5c8d);
     margin: 20px 0 0 80px;
}
.frame_head_tc {
    
    float:right;
    width:48px;
    height:60px;
    background: url(images/head_menu_3.gif);
    margin-right:10px;
    margin-top:7px;
}

.frame_head_tc_a {
    float:right;
    width:48px;
    height:60px;
    background: url(images/head_menu_3a.gif);
     margin-right:10px;
    margin-top:7px;
}

.frame_head_qh {
    float:right;
    width:69px;
    height:60px;
    background: url(images/head_menu_2.gif);
      margin-right:10px; margin-top:7px;
}

.frame_head_qh_a {
    float:right;
    width:69px;
    height:60px;
    background: url(images/head_menu_2a.gif);
      margin-right:10px;  margin-top:7px;
}

.frame_head_xg{
    float:right;
    width:69px;
    height:60px;
    background: url(images/head_menu_1.gif);
      margin-right:10px;    margin-top:7px;
}

.frame_head_xg_a {
    float:right;
    width:69px;
    height:60px;
    background: url(images/head_menu_1a.gif);
      margin-right:10px;  margin-top:7px;
}