/*最外层的div  */
.frametabDiv {
    border-style: solid;
    border-color: #99bbe8;
    border-width: 0;
}
/*header的div*/
.ftable {
    height: 30px;
    background: url(images/ftable_bg.gif);
	padding:0 5px;
}
/*header的左右button*/
.ftable .left {
	float:left;
    width: 24px;
    height: 22px;
    /*background: url(images/tab_ico_l.gif) no-repeat;*/
    background:url(images/ico_l_r_a.png) no-repeat -48px 0px;
    margin: 4px 4px 0 0;
	cursor:pointer;
}
.ftable .right {
	float:right;
    width: 24px;
    height: 22px;
    /*background: url(images/tab_ico_r.gif);*/
    background:url(images/ico_l_r_a.png) no-repeat 0px 0px;
    margin: 4px 0 0 4px;
	cursor:pointer;
}
.ftable .left_a {
    /*background: url(images/tab_ico_l_a.gif);*/
    background:url(images/ico_l_r_a.png) no-repeat -72px 0px;
}
.ftable .right_a {
    /*background: url(images/tab_ico_r_a.gif);*/
    background:url(images/ico_l_r_a.png) no-repeat -24px 0px;
}
.ftable .tab_box {
	overflow: hidden;
    height: 25px;
    /*float: left;*/
    /*margin-top: 5px;*/
    padding-top: 5px;
}
/*header的item项的ul和li*/
.ftable .tab_box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
	display:block;
}
.ftable .tab_box ul li {
	list-style-type: none;
    padding: 0;
    margin: 0;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    color: #2e4e76;
	cursor:pointer;
}
/*激活的li*/
.ftable .tab_box .sty_a {
    background: url(images/tab_bg.gif);
    border-left: 1px solid #86a5ae;
    border-right: 1px solid #86a5ae;
    font-weight:bold;
    color:black;
}
/*没激活的li*/
.ftable .tab_box .sty_b {
    background: url(images/tab_bg.gif) 0 -25px;
    height: 23px;
    border-left: 1px solid #b1c1d7;
    border-right: 1px solid #b1c1d7;
}
/*浮动的li*/
.ftable .tab_box .sty_b:hover {
    background-color:#FFFFFF;
    background: url(images/tab_bg.gif);
    border-left: 1px solid #86a5ae;
    border-right: 1px solid #86a5ae;
    font-style:italic;
}
/*文字*/
.ftable .tab_box .text {
	text-align:center;
}

.ftable .tab_box .text span{
    float:left;
}
/*关闭的按钮*/
.ftable .tab_box .esc {
	float:left;
    width: 11px;
    height: 11px;
    font-size: 0;
    background: url(images/esc_ico.gif) no-repeat;
    border: none;
	margin:5px 0px 0 0;
}
/*body的div*/
.x-tab-panel-body {
    overflow: auto;
	border: 1px solid #8db2e3;
    border-top:none;
    background: #e4edf9;
	width: 100%;
}
.x-tab-panel-body-top {
    border-top: 0 none;
}
.x-tab-panel-body-bottom {
    border-bottom: 0 none;
}
