.validateCode-codeBackground {
    background-color: #FFFFE0;
    padding: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    letter-spacing: 5px;
    border:1px solid red;
    display:inline-block;
    float:left;
    cursor: pointer;
	width:50px;
	height:14px;
}

.validateCode-spanText {

}

.validateCode-tipMsg {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display:inline-block;
    float:right;
    font-size: 14px;
    line-height:20px;
}

.inputText {
    display:inline-block;
    float:left;
    width:48px;
    margin-right:2px;
    height:19px;
    font-size:16px;
}