
.sword_file_upload2 .up-list {
	padding: 0;
	list-style: none;
	margin: 0;
    text-align: left;
}

.sword_file_upload2 .file-invalid {
	cursor: pointer;
	color: #514721;
	line-height: 2em;
	padding-left: 22px;
	background: url(images/error.gif) no-repeat 1px 50%;
	margin-bottom: 1px;
}
.sword_file_upload2 .file-invalid span {
	background-color: #fff6bf;
	padding: 1px;
}

.sword_file_upload2 .file {
	line-height: 2em;
	padding-left: 22px;
	background: url(images/attach.gif) no-repeat 1px 50%;
}

.sword_file_upload2 .file span{	_display:block;
	_float:left;
}

.sword_file_upload2 .file .file-size {
	color: #666;
}

.sword_file_upload2 .file .file-delete {
    padding-left: 22px;
	background: url(images/delete.gif) no-repeat  5px 50%;
	_background: url(images/delete.gif) no-repeat  5px 10px;
	_font-size:12px;
	_vertical-align:middle;
}

.sword_file_upload2 .file .file-title {
    cursor: pointer;
    text-decoration: underline;
}

 .sword_file_upload2 .file .file-error {
	color: #8a1f11;
}

.sword_file_upload2 .file .file-progress {
	width: 125px;
	height: 12px;
	vertical-align: middle;
	background-image: url(images/progress.gif);
}