@charset "utf-8";
/**************** 搜索input框 ****************************/
.graybord {
    border: 1px solid #b6b6b6;
    display: block;
    height: 37px;
    width: 480px;
    float: left;
    background: #fff;
    margin-right: 10px
}

.whitetext {
    border: 1px solid #fff;
    width: 378px;
    height: 33px;
    line-height: 33px;
    font-size: 15px;
    float: left;
    margin-left: 5px
}

.search {
    background: url(images/searchbg.gif);
    width: 88px;
    height: 29px;
    color: #fff;
    font-size: 16px;
    float: left;
    border: 0;
    margin-top: 4px;
    cursor: pointer
}


.searchPop {
 padding: 0px;
 border: 1px solid #d1d1d1;
 background: #fff;
 overflow: hidden;
 z-index: 99999;
}

.searchPop ul {
 width: 100%;
 list-style-position: outside;
 list-style: none;
 padding: 0;
 margin: 0;
 float:left;
}


.searchPop li {
 clear:both;
 margin: 0px;
 padding: 2px 5px;
 cursor: default;
 display: block;
 font-size: 12px;
 line-height: 16px;
 overflow: hidden;
}
.searchPop li p{
 float:left;
 margin:0;
 padding:0;
}
.searchPop li span{
 margin:0;
 padding:0;
 float:right;
 font-size: 12px;
}


.searchPop_over {
 background-color: Highlight;
 color: HighlightText;
}
