/* 最外层的div */
.x-according-body {
    border: 0px solid silver;
    border-top: 0px solid silver;
    overflow: hidden;
    background: white;
    position: relative;
    zoom: 1;
}
.x-according-body-noheader{
}
/* item的最外层的div */
.x-according {
    border-style: solid;
    border-color: #99bbe8;
    border-width: 0;
}
.x-according-collapsed .x-tool-toggle {
    background-position: 0 -75px;
}
.x-according-collapsed .x-accordion-hd .x-tool-toggle {
    background-position: 0 -240px;
}
/* item的header */
.x-according-header {
    overflow: hidden;
    zoom: 1;
    color: #15428b;
    padding: 5px 3px 4px 5px;
    border-bottom:1px solid silver;
     border-top:1px solid silver;
    line-height: 15px;
    background: transparent url(images/header-bg.gif) repeat-x ;
    zoom: 1;
}
.x-unselectable, .x-unselectable * {
    -moz-user-select: none;
    -khtml-user-select: none;
    text-indent:5px;
}
.x-accordion-hd .x-tool-toggle {
    background-position: 0 -255px;
}
.x-accordion-hd {
    color: #222;
    padding-top: 4px;
    padding-bottom: 3px;
    font-weight: normal;
}
/* item的header上面的缩进button  */
.x-according-tool {
    overflow: hidden;
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    background: transparent url(images/tool-sprites.gif) no-repeat;
    margin-left: 2px;
}
.x-tool-toggle {
    background-position: 0 -60px;
    float:left;
}
/* item的body*/
.x-according-bwrap {
    overflow-x: hidden;
    overflow-y:auto;
    zoom: 1;
    left: 0;
    top: 0;
    width:100%;
}

.x-according-text {
    font-size : 12px;
	/*color : #192761;*/
	text-decoration : none;
    font-weight: bold;
    text-indent:5px;
}