

/*...................................................................................
===============容器=================
......................................................................................*/
.tree-container-x {
    overflow-x: auto;
}
.tree-container-y {
   overflow-y: auto;
}
.tree_input_disable{
	background :#f1f1f1;
}

.tree-wrapper {
/*position: relative;*/
  /*   width: 100%; */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 20px; /******Tree node height******/
    white-space: nowrap;
    cursor: default;
    overflow: auto;
    padding-right:18px;
}

.tree-title{
	 
	 height:30px;
	 line-height:29px;
	 text-align:center;
	 font-size:16px;
	 font-weight:bold;
	  
}

.tree-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.tree-bg-container {
    width: 100%;
    display: none;
}

.tree-bg-node {
    width: 100%;
    height: 18px;
}

.tree-bg-selected {
    background-color: #dcd7ab;
}

.tree-wrapper:focus {
    outline: 0;
}

.tree-wrapper span {
    padding-bottom: 2px;
    padding-top: 2px;
    cursor: pointer;
}

.tree-children {
    padding-left: 18px;
   /*  width: 25px; */
}

.tree-node {
   /* width: 18px; */ 
   background: url('images/line.gif') repeat-y 0px -3px;
   /* color:black;
    word-wrap:normal; */
}

.tree-node-last {
    background: url('images/line.gif') no-repeat 0px -4px;
}

.tree-name {
    cursor: pointer;
    overflow: hidden;
    font-size: 13px;
    margin-left: 4px;
}

.tree-name a {
    color: red;
}

.tree-name a:hover {
    color: blue;
}

.mit-tree-wrapper .tree-node-wrapper {
    background: url('images/horizontal-line.gif') no-repeat 9px center;
}

/*...................................................................................
================小零件=================
......................................................................................*/

.tree-gadjet {

    padding-right: 18px;
    z-index: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tree-gadjet-none {
    background: url('images/horizontal-line.gif') no-repeat 0px 2px;
}

.tree-gadjet-minus {
    background: url('images/tree-gadjet-minus.gif') no-repeat 1px 0px; 
}

.tree-gadjet-plus {
    background: url('images/tree-gadjet-plus.gif') no-repeat 1px 0px;
}

.tree-gadjet-load {
    background: url('images/tree_loader.gif') no-repeat 1px 0px;
    /*background:url(images/treegadjet.png) no-repeat -34px 0px;width:18px;*/
}

.tree-gadjet-middle {
    background-position: -36px 50%;
}

.tree-gadjet-hover .tree-gadjet-minus {
    background-position: -54px 50%;
}

.tree-gadjet-hover .tree-gadjet-plus {
    background-position: -72px 50%;
}

.tree-gadjet-hover .tree-gadjet-middle {
    background-position: -90px 50%;
}



/*...................................................................................
================小图片=================
......................................................................................*/
.tree-icon {
    padding-right: 18px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tree-leaf-icon {
    background-image: url('images/leaficon.gif')
    /*background:url(images/treeicon.png) no-repeat -12px center;width:12px;*/
}

.tree-open-icon {
    background-image: url('images/openicon.gif')
    /*background:url(images/treeicon.png) no-repeat 0px center;width:12px;*/
}

.tree-close-icon {
    background-image: url('images/closeicon.gif')
    /*background:url(images/treeicon.png) no-repeat -24px center;width:11px;*/
}

/*...................................................................................
================选择=================
......................................................................................*/

.tree-node-selected .tree-name {
    background-color: #010161;
    color: #fff;

}

.tree-highlighter {
    background-color: #c2dfff;
}

/**
* 拖拽
*
*/

.tree-ghost {
    background-color: #fff;
    border: solid 2px #e8e8f7;
    padding-left: 2px;
    position: absolute;
}

.tree-ghost .tree-node-wrapper {
    background: none;
}

.tree-ghost span.tree-text {
    padding-top: 1px;
    padding-bottom: 1px;
}

.tree-ghost-icon {
    padding-left: 16px; /*background-color:#fff;*/
    background-repeat: no-repeat;
    background-image: url('images/drop-no.gif');
}

.tree-ghost-after {
    background-position: -64px 2px;
}

.tree-ghost-before {
    background-position: -48px 2px;
}

.tree-ghost-between {
    background-position: -16px 2px;
}

.tree-ghost-inside {
    padding-left: 16px; /*background-color:#fff;*/
    background-repeat: no-repeat;
    background-image: url('images/drop-add.gif');
}

.tree-ghost-notAllowed {
    padding-left: 16px; /*background-color:#fff;*/
    background-repeat: no-repeat;
    background-image: url('images/drop-no.gif');
}

.tree-drag-current {
    background-color: #cfcfd8;
}

.tree-replace {
    background-color: #99c8fb;
}

.tree-radio {
    
}
/*...................................................................................
================CheckBox=================
......................................................................................*/
.tree-checkbox {
    padding-left: 18px;
}

/*** 选中  ***/
.tree-node-checked, .tree-node-checked .tree-checkbox {
    background: url('images/checked.gif') center 1px no-repeat;
}

/****不选中 ****/
.tree-node-unchecked, .tree-node-unchecked .tree-checkbox {
    background: url('images/unchecked.gif') center 1px no-repeat;
}

/*** 选中状态的禁止选中***/
.tree-node-nochecked-checked {
    background: url('images/noChecked_1.gif') center 1px no-repeat;
}

/****未选中状态的禁止选中 ****/
.tree-node-nochecked-notchecked {
    background: url('images/noChecked_0.gif') center 1px no-repeat;
}

/****叶节点的半选中状态 ***/
.tree-node-half-checked {
    background: url('images/half-checked2.gif') center 1px no-repeat;
}

/*解决下拉树图片折行，此行代码要与form中样式一致*/
/*
.swordtree_wrap .swordform_item_oprate{
  padding-left:2px;
}
table.swordform_field_wrap div{*margin-left:-4px;_margin-left:-2px;}
.swordform_item_input {
    background: url("images/text-bg.gif") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #B5B8C8;
    cursor:text;
	padding:0;
	padding-left:2px;
	margin:0;
    height:17px;
    width:145px;
}

.swordform_field_wrap{
    zoom: 1;
    font: normal 12px tahoma, arial, helvetica, sans-serif;
    color: #15428b;
    float: left;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:5px;
}
*/
/*选择框箭头按钮样式,注意在firefox上,height=20,top=0*/
.swordform_field_wrap  .tree-select-selimg {
    width: 17px;
    height:19px;
	_height:17px;
    border: 0;
    background:url(images/trigger.gif) no-repeat;
    cursor: pointer;	
}
.swordform_field_wrap .tree_selimg_disable{
    background: transparent url(images/trigger.gif) no-repeat -68px 0;
    cursor: default;	
}
/*选择框箭头按钮，鼠标经过时样式*/
/* 
.swordform_field_wrap .tree-select-selimg-over {
    background-position: -17px 0;
} */

/*选择框箭头按钮，鼠标点击时样式*/
/* 
.swordform_field_wrap .tree-select-selimg-click {
    background-position: -34px 0;
    
} */

/*下拉选择框最外层样式*/
.tree-select-list {
    border: 1px solid #98c0f4;                                          
    background: #ddecfe;
    zoom: 1;
    overflow: hidden;
    Z-INDEX: 11000;
    POSITION: absolute;
    display: none
}
/*下拉选择框list外层样式*/
.tree-select-list-inner {
    background: white;
    position: relative;
    zoom: 1;
}
.tree-filter-hidden{
   display: none 
}
.treenode_hover{
  background:#cddee7;
}
